@import url(fonts.css);
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top110{margin-top:110px;}
.top120{margin-top:120px;}
.top125{margin-top:125px;}
.top130{margin-top:130px;}
.top150{margin-top:150px;}
.top175{margin-top:175px;}
.top195{margin-top:195px;}
.top200{margin-top:200px;}
.top215{margin-top:215px;}
.top250{margin-top:250px;}
.top300{margin-top:300px;}
.top375{margin-top:375px;}
.top400{margin-top:400px;}
.top450{margin-top:450px;}
.top840{margin-top:840px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom14{margin-bottom:14px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom200{margin-bottom:200px;}
.bottom300{margin-bottom:300px;}
.bottom450{margin-bottom:450px;}
.bottom700{margin-bottom:700px;}
.left5{margin-left:5px;}
.left10{top:-40px;margin-left:30px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left85{margin-left:85px;}
.left170{margin-left:170px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
body{font-family:'PT Sans', sans-serif;}
textarea{resize:none;}
.font-quicksand{font-family:Quicksand, sans-serif!important;}
.cabin{font-family:Cabin , sans-serif;}
.input100{width:100%!important;}
.container{width:1170px;}
.pagina{width:1170px;position:absolute;margin-left:-585px;left:50%;top:0;z-index:10;}
h1{font-size:19px;color:#000;}
h6{font-family:Quicksand, sans-serif!important;font-weight:100;color:#000;font-size:30px;text-decoration:underline;}
p{font-family:Cabin , sans-serif;font-size:14px;color:#414141;text-align:justify;}
.navbar{font-family:Quicksand, sans-serif!important;margin-bottom:0;font-size:15px;}
.navbar-default span{border:2px solid #d9d8d8;border-radius:50%;margin-top:20px;padding:5px;}
.navbar li:hover span{color:#fff;border:2px solid #fff;}
.navbar-default .navbar-nav>.active>a span,.navbar-default .navbar-nav>.active>a:hover span,.navbar-default .navbar-nav>.active>a:focus span{border:2px solid #fff;}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{margin-top:auto;margin-right:-16px;padding:0 11px;}
.navbar-default{background:none;border:none;padding-top:2px;}
.navbar-default .navbar-nav>li>a{height:75px;font-size:17px;padding-top:20px;text-align:center!important;background:none;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{background:url(../imgs/bg-menu-hover.png) repeat-x;height:62px;margin-top:-2px;color:#797979;text-align:center!important;font-weight:700;}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{background:url(../imgs/bg-menu-hover.png) repeat-x;height:75px;margin-top:-2px;color:#797979;font-weight:700;}
.navbar-default a:hover{background:#ec3d35;height:100px;color:#e7e7e7;}
.topo-telefone img span{margin-top:-15px;}
.topo-telefone span{font-family:Quicksand, sans-serif!important;font-size:21px;font-weight:700;color:#a5a4a4;}
.btn-laranja{background:#c9690c;color:#fff;}
.btn-laranja:hover{background:#cf6e12;color:#fff;}
.btn-laranja1{width:134px;font-weight:700;background:#cf6e12;color:#fff;}
.btn-laranja1:hover{width:134px;font-weight:700;background:#e8872e;color:#fff;}
.dropdown-menu.pull-right{right:17px;left:auto;}
.topo-meu-orcamento{background:#dedede;width:470px;padding:0 10px;}
.fundo-logo{margin-top:-62px;}
.subir{margin-top:-510px;}
.orcamentos{left:20px;position:relative;height:42px;background:url(../imgs/btn-orcamento.png) top center no-repeat;}
.btn-meu-orcamento{cursor:pointer;}
.bg-menu{height:105px;width:1164px;background:url(../imgs/bg-menu.png) top center no-repeat;background-size:100%;}
.lista-itens-carrinho{overflow:hidden;border-bottom:2px solid #e5e5e5;padding-bottom:10px;margin:10px 0 20px;}
.lista-itens-carrinho1{padding-top:10px;background:#cecece;overflow:hidden;border-bottom:2px solid #e5e5e5;padding-bottom:10px;margin:10px 0 20px;}
.lista-itens-carrinho h1{font-weight:700;font-size:17px;color:#4d4c4c;}
.itens-orcamentos h1{font-size:21px;font-weight:700;color:#a5a4a4;}
.lista-orcamentos1 h1{color:#4d4c4c;font-size:17px;font-weight:700;}
.lista-orcamentos11 span{color:#a5a4a4;font-size:17px;font-weight:700;}
.menus{margin-top:-127px;background:#EFEFEF;}
.menus1{margin-top:-585px;background:#EFEFEF;}
.lista-categorias>li a{background:url(../imgs/bg-menu-hover.png) no-repeat;font-weight:300;font-size:13px;color:#868686;border-radius:0;height:60px;line-height:60px;padding:3px 10px 0 7px;}
.lista-categorias>li a:hover,.lista-categorias .visited{font-weight:700;background:url(../imgs/somba-menu-esquerdo.png) -4px 0 no-repeat;color:#000;}
.lista-categorias>li a:focus{font-weight:700;background:url(../imgs/somba-menu-esquerdo.png) -4px 0 no-repeat;color:#fff;}
.lista-categorias>li a span{display:block;width:56px;height:56px;background:url(../imgs/indentificador-menu-esquerdo.png);float:left;text-align:center;line-height:56px;color:#fff;}
.bg-contatos{background:url(../imgs/bg-contatos.jpg)top center no-repeat;}
.menu-contatos{border:none;}
.menu-contatos a{font-weight:700;font-family:Quicksand, sans-serif!important;background:#fff;color:#a5a4a4;font-size:21px;}
.descricao-contatos h1{font-size:21px;font-weight:700;font-family:Quicksand, sans-serif!important;color:#a5a4a4;}
.descricao-contatos span{font-size:17px;font-family:Quicksand, sans-serif!important;color:#a5a4a4;}
.input-group-addon{padding:0;}
.glyphicon{margin-top:20px;color:#ec8c33;}
.fa{color:#ec8c33;}
.lista-produtos{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.23);-moz-box-shadow:0 0 5px 2px rgba(0,0,0,0.23);box-shadow:0 0 5px 2px rgba(0,0,0,0.23);}
.lista-produtos h1{color:#5c5c5c;font-size:15px;font-weight:700;height:33px;overflow:hidden;}
.lista-produtos p{color:#5c5c5c;font-size:10px;font-weight:300;height:45px;overflow:hidden;}
.lista-produtos1 h1{font-family:'PT Sans', sans-serif!important;color:#5c5c5c;font-size:13px;font-weight:700;}
.lista-produtos1,.lista-produtos1 img{width:100%;background:#e5e5e5;-webkit-box-shadow:0 0 12px 0 rgba(0,0,0,0.23);-moz-box-shadow:0 0 12px 0 rgba(0,0,0,0.23);box-shadow:0 0 12px 0 rgba(0,0,0,0.23);}
.descer2{margin-top:-23px;}
.lista-produtos1 p{color:#5c5c5c;font-size:13px;font-weight:300;height:57px;overflow:hidden;}
.posicao-imagem img{margin-top:-375px;}
.produtos-dentro{background:url(../imgs/bg-produtos-orcamento.png)top center no-repeat;height:470px;}
.bg-produtos{background:#e5e5e5 url(../imgs/bg-produtos-geral.jpg) top center no-repeat;}
.produtos-dentro h1{border-bottom-width:5px;border-bottom-style:double;width:100%;font-weight:700;font-size:25px;color:#e7e7e7;text-align:center;margin-top:90px;}
.produtos-dentro p{font-family:Cabin , sans-serif;overflow:hidden;height:100px;font-weight:300;font-size:14px;color:#bbb5b5;}
.descricao-orcamentos p{font-size:14px;font-weight:700;color:#414141;}
.descricao-orcamentos img{margin-left:10px;}
.servicos{background:#202020;height:481px;}
.servicos-internos h1{font-size:30px;color:#818181;font-weight:700;}
.servicos-internos p{font-size:14px;color:#929292;font-weight:300;}
ul.accordion{background:url(../imgs/nossos-servicos.png) no-repeat;padding-left:84px;list-style:none;position:absolute;right:-32px;top:0;font-family:'PT Sans', sans-serif;font-size:16px;font-style:italic;line-height:1.5em;}
ul.accordion li{float:right;width:115px;height:480px;display:block;border-right:2px solid #fff;border-bottom:2px solid #fff;background-color:#fff;background-repeat:no-repeat;background-position:center center;position:relative;overflow:hidden;cursor:pointer;-moz-box-shadow:1px 3px 15px #555;-webkit-box-shadow:1px 3px 15px #555;box-shadow:1px 3px 15px #555;}
ul.accordion li.bleft{border-left:2px solid #fff;}
ul.accordion li .heading{background-color:#e18026;opacity:0.9;text-transform:uppercase;font-style:normal;font-weight:700;letter-spacing:1px;font-size:14px;color:#444;text-align:center;text-shadow:-1px -1px 1px #ccc;padding:10px;}
ul.accordion li .description{position:absolute;width:480px;height:175px;bottom:0;left:0;display:none;}
ul.accordion li .description h2{text-transform:uppercase;font-style:normal;font-weight:700;letter-spacing:1px;font-size:30px;color:#e18026;text-align:left;text-shadow:-1px -1px 1px #ccc;margin:0 0 15px 20px;}
ul.accordion li .description p{font-family:'PT Sans', sans-serif;font-size:12px;font-style:italic;font-weight:400;text-transform:none;letter-spacing:normal;line-height:1.6em;margin:10px 22px;}
ul.accordion li .description a{position:absolute;bottom:5px;left:20px;text-transform:uppercase;font-style:normal;font-size:11px;text-decoration:none;color:#888;}
ul.accordion li .description a:hover{color:#333;text-decoration:underline;}
ul.accordion li .bgDescription{background:transparent url(../imgs/bgDescription.png) repeat-x top left;height:340px;position:absolute;bottom:0;left:0;width:100%;display:none;}
.bg-servicos{margin-bottom:200px;height:617px;background:#e5e5e5 url(../imgs/bg-nossos-servicos.jpg) no-repeat top center;}
.centralizar-mapa{margin-top:-71px;margin-left:-403px;margin-right:-595px;}
.descricao-servicos h1{font-size:30px;font-weight:700;color:#818181;}
.descricao-servicos p{font-size:14px;font-weight:300;color:#919191;height:100px;overflow:hidden;}
.subir-grande{margin-left:15px;margin-top:-450px;}
.subir-grande1{margin-top:-130px;}
.reajuste-orcamentos{margin-top:167px;}
.quem-somos{background:#EFEFEF;}
.nossos-clientes{font-family:Quicksand, sans-serif!important;margin-top:15px;height:64px;line-height:64px;background:#fff;}
.nossos-clientes1{width:37%;margin-left:50px;font-family:Quicksand, sans-serif!important;margin-top:15px;height:64px;line-height:64px;background:#fff;}
.nossos-clientes h1{margin-left:-33px;font-size:17px;color:#656565;font-weight:700;}
.nossos-clientes h2{padding-right:none;font-size:17px;color:#656565;margin-top:-11px;margin-left:-35px;font-weight:300;}
.nossos-clientes1 h1{margin-left:-33px;font-weight:700;font-size:17px;color:#656565;}
.nossos-clientes1 h2{padding-right:none;margin-top:-11px;margin-left:-35px;font-weight:300;font-size:17px;color:#797979;}
.barner-padrocinio img{margin-left:42px;}
.descricao-quem-somos h1{margin-bottom:-10px;font-weight:700;font-size:17px;color:#656565;}
.descricao-quem-somos1{overflow:hidden;width:700px;background:#fff;height:200px;}
.descricao-quem-somos1 h1{margin-top:-4px;font-weight:300;font-size:14px;color:#313131;padding:10px;}
.descricao-quem-somos1 span{margin-top:20px;font-weight:700;font-size:14px;color:#313131;}
.descricao-quem-somos1 p{font-family:Cabin , sans-serif;font-weight:700;color:#717171;width:450px;font-size:13px;}
.quem-somos h1{font-family:Quicksand, sans-serif;font-size:17px;color:#656565;font-weight:700;}
.exemplo-dicas{overflow:hidden;background:#fff;}
.dicas-dentro h2{font-weight:700;font-size:21px;color:#313131;}
.dicas-dentro p{font-weight:300;font-size:14px;color:#414141;text-align:justify;}
.nossos-clientes1 h3{font-family:'PT Sans', sans-serif;margin-left:-50px;text-align:justify;font-weight:300;font-size:17px;color:#797979;}
.nossos-clientes1 span{font-family:'PT Sans', sans-serif;text-align:justify;font-weight:700;font-size:17px;color:#797979;}
.bg-empresa{background:#e5e5e5 url(../imgs/bg-nossa-empresa.jpg) top center no-repeat;}
.bg-orcamentos{background:#e5e5e5 url(../imgs/orcamento.jpg) top center no-repeat;}
.barra-lateral-empresa{margin-top:-45px;width:67%;position:absolute;background:#ec8c33 no-repeat;height:41px;margin-left:-30%;-webkit-box-shadow:7px 14px 13px -5px rgba(106,106,106,1);-moz-box-shadow:7px 14px 13px -5px rgba(106,106,106,1);box-shadow:7px 14px 13px -5px rgba(106,106,106,1);}
.descricao-banner-central p{overflow:hidden;height:150px;font-family:Quicksand, sans-serif!important;font-size:21px;font-weight:700;color:#797979;}
.barra-lateral-empresa h1,.barra-lateral-empresa span{font-size:13px;color:#fff;font-weight:700;text-align:left;position:absolute;margin-left:741px;}
.bg-lateral-barra{background:url(../imgs/bg-barra-lateral.png) repeat-x;height:65px;position:absolute;width:1020px;right:60%;}
.bg-barra-lateral-interna{height:65px;}
.bg-barra-lateral-interna .breadcrumb{background:none;padding:11px 15px;}
.bg-barra-lateral-interna a,.bg-barra-lateral-interna .active{font-size:13px;color:#fff;font-weight:700;}
.fundo-cinza001{background:#e5e5e5;}
.objetivos-empresas p{font-family:Cabin , sans-serif;font-size:14px;color:#414141;background:#e5e5e5;font-weight:700;}
.objetivos-empresas h1{line-height:34px;padding-left:4px;font-family:Quicksand, sans-serif!important;border-left:7px solid #c9680c;font-weight:700;font-size:17px;color:#656565;}
.objetivos-empresas h2{margin-top:-10px;padding-bottom:9px;padding-left:15px;border-left:7px solid #c9680c;font-family:Quicksand, sans-serif!important;font-weight:700;color:#656565;font-size:15px;}
.bg-dicas{background:#e5e5e5 url(../imgs/bg-nossa-dicas.jpg)top center no-repeat;}
.fundo-preto{background:#000;}
.menu-rodape{list-style:none;}
.menu-rodape li{float:left;margin-right:10px;border-right:2px solid #fff;}
.menu-rodape li a{font-size:14px;color:#fff;padding-right:10px;}
.menu-rodape li:last-child{border-right:none;}
.contatos-rodape img{margin-top:-5px;padding:5px;}
.contatos-rodape span{font-size:15px;color:#fff;font-weight:300;}
.fundo-laranja{line-height:20px;background:#c9680c;}
.fundo-laranja h1{font-size:11px;font-family:Cabin , sans-serif;color:#fff;}
#container_banner{width:100%;height:960px;overflow:hidden;top:0;position:relative;margin:0 auto;}
#content_slider{width:1920px;height:960px;overflow:visible;position:absolute;margin-left:-960px;left:50%;}
#content_slider .rsNavSelected{background:#d7771c!important;}
#content_slider .rsNavItem{width:20px;height:20px;border-radius:50%;background:#868686;float:left;margin-right:8px;}
#content_slider .rsNav{width:200px;z-index:2;position:absolute;bottom:183px;left:48%;}
.titulo-internas{color:#858585;font-size:58px;text-shadow:2px 2px 2px rgba(150,150,150,1);margin:0;}
.img-servicos{border:15px solid #858585;}
.img-serv-dentro{margin-top:-110px;position:relative;}
.img-serv-dentro-btn{position:absolute;bottom:0;right:0;}
.desc-serv{padding-bottom:35px;}
.desc-servico-dentro h1{color:#838383;font-size:32px;}
.desc-servico-dentro p{color:#929292;font-size:14px;}
.flexslider{background:#E5E5E5!important;border:none!important;}
.flexslider .slides{background:#E5E5E5;margin:0 0 5px!important;}
.slider-prod{width:360px;}
.slider-menor .flexslider .slides > li{margin:0 5px 0 0;}
.slider-servicos .flexslider{width:600px;}
.slider-prod-tumb li{width:75px!important;margin-right:10px!important;}
.slider-prod-tumb li img{border-radius:50%;border:5px solid #999898;}
.input-lista-prod-orcamentos{width:40px;height:40px;line-height:40px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.gallery{display:inline-block;margin-top:20px;}
.top100,.descer{margin-top:100px;}
.top350,.descer1{margin-top:350px;}
a,a:hover{text-decoration:none;}
.badge,.badge1{margin-left:168px;margin-top:14px;display:inline-block;min-width:10px;font-size:12px;font-weight:700;line-height:1;color:#000;text-align:center;white-space:nowrap;vertical-align:baseline;background-color:#fff;border-radius:4px;padding:3px 7px;}
.fundo-branco,.lista-produtos11,.objetivos-empresas,.bg-branco{background:#fff;}
.dropdown-submenu,.container-barra{position:relative;}
.menu-contatos li.active a,.menu-contatos li.active a:focus{background:#ec8c33;color:#fff;font-size:21px;}
.fundo-form,.fundo-form1{background:#e6e6e6;}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{color:#a5a4a4;}
.lista-produtos a,.lista-produtos a:hover,.lista-produtos11 a,.lista-produtos11 a:hover{color:#fff;background:#e8872e;font-size:13px;font-weight:700;}
ul.accordion li.bg1,ul.accordion li.bg2,ul.accordion li.bg3,ul.accordion li.bg4,ul.accordion li.bg5,ul.accordion li.bg6{background-image:url(../imgs/destaque-servicos.jpg);}
.nossos-clientes1 img,.nossos-clientes img{margin-left:-31px;}
.quem-somos1 h1,.quem-somos1 1{margin-bottom:-11px;font-family:Quicksand, sans-serif;font-size:17px;color:#656565;font-weight:700;}