@charset utf-8;@import url(fonts.css);
*{text-decoration:none;margin:0;padding:0;}
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol,li,select,input{list-style:none;outline:none;border:none;margin:0 auto;padding:0;}
.top5{margin-top:5px!important;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top105{margin-top:105px;}
.top195{margin-top:195px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom25{margin-bottom:25px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.ptop10{padding-top:10px;}
.pbottom10{padding-bottom:10px;}
.pbottom20{padding-bottom:20px;}
.pbottom40{padding-bottom:40px;}
.pbottom60{padding-bottom:60px;}
.pbottom80{padding-bottom:80px;}
.pbottom100{padding-bottom:100px;}
.container{background:#e6e6e6;max-width:480px;}
.input100{width:100%!important;}
.fonte-cabin{font-family:Cabin, sans-serif;}
.fonte-ptBold{font-family:'PT Sans', sans-serif;font-weight:700;}
.fonte-lato{font-family:Lato, sans-serif;}
body{font-family:Quicksand, sans-serif!important;}
h1{font-size:20px;color:#000;}
h3{font-size:17px;color:#000;font-weight:700;}
h6{font-size:30px;text-decoration:underline;}
p{font-family:Cabin, sans-serif;text-align:justify;color:#3f3f3f;font-size:14px;}
a:hover{text-decoration:none!important;}
.topo-telefone1 h1{margin-left:1px;font-size:17px;color:#a7a6a6;font-weight:700;}
.topo-telefone h1{font-size:17px;color:#a7a6a6;font-weight:700;}
.logo-menu{height:78px;}
.logo img{margin:-31px 0 0 -10px;}
.bg-topo{background:none;position:relative;z-index:11;}
.carousel{margin-top:-176px;}
.menu-home{width:208px;height:54px;background:url(../imgs/botao-menu-topo.png) no-repeat;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.bg-menu{background:url(../imgs/bg-menu.png) top center no-repeat;padding-bottom:25px;}
.navs-personalizados li{height:20px;width:20px;background:#878787;}
.navs-personalizados li.active{height:20px;width:20px;background:#eb7614;}
.set-personalizadas{z-index:12121;color:#606060;}
.set-personalizadas:hover{color:#606060;}
.set-personalizadas.left{background-image:none;}
.set-personalizadas.right{background-image:none;z-index:4;}
.menu-produtos{width:450px;height:60px;background:url(../imgs/barra-menu-produtos-home.png) no-repeat;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.menu-produtos option{width:100%;}
.produtos-home{padding:0;}
.produtos-home h1{height:30px;overflow:hidden;padding-bottom:7px;font-family:'PT Sans', sans-serif;font-size:15px;color:#5c5c5c;font-weight:700;}
.produtos-home p{height:68px;overflow:hidden;padding-bottom:17px;font-family:'PT Sans', sans-serif;font-size:12px;color:#5c5c5c;font-weight:400;}
.fundo-preto{height:100px;background:#202020;}
.panel-body{padding:3px;}
.decricao-accordin a{font-weight:700;font-family:'PT Sans', sans-serif;color:#656565;font-size:17px;}
.panel-default>.panel-heading{color:#333;background:url(../imgs/fundo-acoordin.png);border-color:#ddd;}
.panel-default>.panel-heading:hover,.panel-default:active{background:url(../imgs/fundo-laranja-degrader.png);}
.patorcinios{height:64px;background:url(../imgs/bg-patrocinios-home.jpg) left no-repeat;}
.patorcinios h2{font-weight:700;color:#656565;font-size:17px;padding:16px 0 0 10px;}
.patorcinios h3{font-weight:300;color:#656565;font-size:14px;padding:0 0 5px 20px;}
.touchcarousel{left:-11px;height:100px!important;}
#carousel-gallery .touchcarousel-container li.touchcarousel-item{float:left;width:130px;height:91px;position:relative;margin:0 15px;}
.touchcarousel .arrow-holder.left{right:23px!important;background:url(../imgs/seta-esquerda.png) 25px 21px no-repeat;background-size:20px;}
.touchcarousel .arrow-icon.right{background:url(../imgs/seta-direita.png) 25px 21px no-repeat;background-size:20px;}
.descricao-dicas-home h2{padding-bottom:5px;background:url(../imgs/barra-descricao-dicas-home.png) bottom no-repeat;font-weight:700;font-size:17px;color:#656565;}
.dicas-home{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.75);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.75);box-shadow:0 0 5px 0 rgba(0,0,0,0.75);padding:0;}
.dicas-home h1{height:28px;padding-bottom:10px;font-family:'PT Sans', sans-serif;text-align:left;color:#2d2d2d;font-weight:700;font-size:12px;overflow:hidden;}
.dicas-home p{height:47px;padding-bottom:10px;font-family:Lato, sans-serif;text-align:left;color:#2d2d2d;font-weight:400;font-size:12px;overflow:hidden;}
.padronizar-barra{margin-left:-50px;background:none;}
.posicao-barra-transparente{display:inline-block;float:left!important;width:100%;margin-left:0;margin-top:58px;height:63px;background:url(../imgs/barra-internas-sombra.png) center no-repeat;}
.posicao-barra-transparente h5{text-shadow:.1em .1em .05em #333;font-size:13px;color:#fff;font-weight:700;}
.descricao-dicas-dentro h1{font-family:'PT Sans', sans-serif;font-weight:700;color:#2d2d2d;font-size:21px;padding:20px 0;}
.descricao-dicas-dentro p{padding-bottom:10px;font-family:Cabin, sans-serif;font-weight:400;color:#3f3f3f;font-size:14px;}
.descricao-orcamentos h2{font-weight:700;color:#a7a6a6;font-size:21px;}
.btn-vermelho{margin-bottom:36px;width:204px;background:url(../imgs/botao-continuar-orcanto.png) center no-repeat;padding:15px 0;}
.lista-orcamentos1 h1{color:#4d4c4c;font-size:17px;font-weight:700;}
.lista-itens-carrinho1{padding-top:10px;background:#cecece;overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:20px;padding-bottom:10px;}
.input-lista-prod-orcamentos{width:40px;height:40px;line-height:40px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.glyphicon{margin-top:2px;color:#ec8c33;}
.fundo-form1{background:#e6e6e6;}
.fa{color:#ec8c33;}
.btn-laranja1{width:97px;font-weight:700;background:#cf6e12;color:#fff;}
.descricao-banner-central p{padding-left:1px;overflow:hidden;font-size:15px;font-weight:700;color:#797979;}
.bg-fundo-preto{background:#000;}
.bg-fundo-preto h4{color:#fff;font-weight:300;font-size:18px;padding:14px 0;}
.servicos-home h2{text-align:center;background:url(../imgs/barra-titulo-servicos.png) bottom center no-repeat;font-weight:700;font-size:25px;color:#fff;padding:34px 0 7px;}
.produtos-dentro h1{color:#858585;font-family:'Yanone Kaffeesatz', sans-serif;font-size:32px;text-shadow:2px 2px 2px rgba(150,150,150,1);}
.img-dentro{position:relative;}
.btn-produto-orcamento{position:absolute;bottom:-70px;right:0;}
.produtos-dentro p{color:#3f3f3f;font-family:'Yanone Kaffeesatz', sans-serif;font-size:17px;}
.bg-form{background:#fff;border:1px solid #000;padding-top:30px;padding-bottom:30px;}
.bg-form label{color:#292929;font-size:17px;}
.bg-form span{font-family:'Yanone Kaffeesatz', sans-serif;color:#292929;font-size:17px;}
.bg-empresa{background:#e6e6e6 url(../imgs/empresa.jpg) top center no-repeat;}
.location{background:url(../imgs/location.jpg) left top no-repeat;height:63px;margin-top:65px;}
.location .breadcrumb{background:none;margin-left:83px;margin-top:4px;}
.location .breadcrumb a{font-family:'PT Sans', sans-serif;font-size:13px;color:#fff;}
.location .breadcrumb>.active{font-weight:700;color:#fff;}
.texto-empresa h1{font-family:Quicksand, sans-serif;font-weight:700;font-size:17px;border-left:5px solid #e46800;background:#fff;margin-bottom:10px;padding:10px;}
.form-contato .nav-tabs a{font-family:Quicksand, sans-serif;font-weight:700;font-size:15px;text-shadow:2px 2px 2px rgba(150,150,150,1);color:#a7a5a5;padding:10px 5px;}
.form-contato .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#fff;background:#ff8d25;}
.img-servico{border:5px solid #898989;margin:0 20px 0 0;padding:0;}
.lista-servico{padding-top:15px;}
.lista-servico h1{color:#838383;font-size:25px;font-family:'Yanone Kaffeesatz', sans-serif;font-weight:700;}
.lista-servico p{color:#939393;font-size:14px;font-family:Cabin, sans-serif;font-weight:700;height:64px;overflow:hidden;}
.o-que-dizem{background:url(../imgs/titulo-o-que-eles-dizem.jpg) left top no-repeat;padding-top:30px;}
.descricao-quem-somos1{overflow:hidden;background:#fff;height:200px;}
.descricao-quem-somos1 h1{margin-top:-4px;font-weight:300;font-size:14px;color:#313131;padding:10px;}
.descricao-quem-somos1 span{margin-top:20px;font-weight:700;font-size:14px;color:#313131;}
.descricao-quem-somos1 p{font-family:Cabin , sans-serif;font-weight:700;color:#717171;font-size:13px;}
.btn-ligar{z-index:5000;}
.sembg{background:none;}
.topdescription{height:162px;overflow:hidden;}
.bg-produtos{background:url(../imgs/bg-produtos.jpg) top center no-repeat;}
.bg-especificacoes{background:url(../imgs/bg-especificacoes.jpg) top center no-repeat;}
.bg-servicos{background:url(../imgs/bg-servicos1.jpg) top center no-repeat;}
.bg-orcamento{background:url(../imgs/bg-orcamentos.jpg) top center no-repeat;}
.bg-contato{background:url(../imgs/bg-contato.jpg) top center no-repeat;}
.bottom20,.produtos-home img{margin-bottom:20px;}
.bottom30,.texto-empresa{margin-bottom:30px;}
.left50,.mover{margin-left:50px;}
.right10,.fa-globe:before{margin-right:10px;}
.fundo-branco,.bg-branco{background:#fff;}
.padronizar-barra a,.padronizar-barra li.active{text-shadow:.1em .1em .05em #333;font-family:'PT Sans', sans-serif;color:#fff;font-weight:700;font-size:13px;}